@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
    display: flex;
    justify-content: center;
    font-family: "Kaushan Script", cursive;
    color: rgb(248,248,248);
    background-color: rgb(201,194,185);;
}

.wrapper{
    max-width: 300px;
    margin-top: 50px;
    background-color: rgb(34,34,34);
    padding: 40px;
    border-radius: 10px;
}

.wrapper h3,
.wrapper p:first-of-type{
    text-align: center;
    font-size: 24px;
}

.wrapper h3{
    font-size: 30px;
}

p{
    font-size: 20px;
    word-spacing: 3px;
}
